{
  "presets": ["es2015"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
