.pagination {
  text-align: center;
  margin: 16px 0;
  height: calc(25vh - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-list {
  display: inline-block;
  .pagination-item {
    border: 1px solid $color1;
    border-radius: 100%;
    color: $color1;
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 42px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color $transition;
    width: 42px;

    &.pagination-item__active {
      background: $color1;
      color: #fff;
      pointer-events: none;
    }
  }
  a.pagination-item {
    &:hover {
      color: #fff;
      background-color: $color1;
    }
  }
  span.pagination-item {
    opacity: 0.2;
  }
}
