$containerWidth: 1280px;

// Colors

$color1: #d42026;
$color2: #4e4e4e;
$color3: #c1c1c1;

$textColor: $color2;
$titleColor: $color1;

// Fonts

$fontFamilyText: "Roboto", Arial;

// Conf vars

$transition: ease-out 0.4s;
